.babelrc
.editorconfig
.esdoc.json
.travis.yml
yarn.lock
node_modules/
src/
types/*
!types/index.d.ts
coverage
.vscode/*
*.png
dist/__tests__/*
CODE_OF_CONDUCT.md
CONTRIBUTING.md
settings.json
tslint.json
tsconfig.json
*.test.*
